<?xml version="1.0"?>
<launch>
  <!-- arguments -->
  <arg name="map_name" default="lite3" />
  <arg name="points_topic" default="/rslidar_points" />
  <arg name="open_rviz" default="true" />
  
  <!-- 初始位置参数 -->
  <arg name="init_pos_x" default="0.0" />
  <arg name="init_pos_y" default="0.0" />
  <arg name="init_pos_z" default="0.0" />
  <arg name="init_yaw" default="0.0" />

  <!-- 加载2D栅格地图用于全局规划 -->
  <node name="MapServer" pkg="map_server" type="map_server" args="/home/ysc/lite_cog/system/map/$(arg map_name).yaml"/>

  <!-- 里程计转TF节点 -->
  <node name="odom_to_tf_node" pkg="odom_nav" type="odom_to_tf.py" output="screen">
    <param name="init_pos_x" value="$(arg init_pos_x)" />
    <param name="init_pos_y" value="$(arg init_pos_y)" />
    <param name="init_pos_z" value="$(arg init_pos_z)" />
    <param name="init_yaw" value="$(arg init_yaw)" />
  </node>


  <include file="$(find navigation)/launch/navigation.launch"/>


  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find odom_nav)/rviz/odom_nav.rviz" if="$(arg open_rviz)" /> 
</launch>
